<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="NewTour">
    <classes>
      <class name="com.vsii.tsc.TSCSelenium03.quyentx.NewTour"/>
      <class name="com.vsii.tsc.TSCSelenium03.AppTest"/>
    </classes>
  </test> <!-- MyNewTourTest -->
</suite> <!-- Suite -->
